@page
@model MyFirstWebApp.Pages.Books.EditModel
@{
}

<br />

<h2>Create</h2>

<div class="border container" style="padding:30px">
    <form method="post">
        <input type="hidden" asp-for="Book.Id" />
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Book.Title"></label>
            </div>
            <div class="col-4">
                <input asp-for="Book.Title" class="form-control" />
            </div>
            <span asp-validation-for="Book.Title" class="text-danger"></span>

        </div>
        <div class="form-group row mt-4">
            <div class="col-4">
                <label asp-for="Book.Content"></label>
            </div>
            <div class="col-4">
                <input asp-for="Book.Content" class="form-control" />
            </div>

        </div>
        <div class="form-group">
            <label asp-for="Book.Author" class="control-label"></label>
            <select asp-for="Book.AuthorId" class="form-control"
                    asp-items="@Model.AuthorsNames"></select>
                    <span asp-validation-for="Book.Author" class="text-danger"></span>
        </div>
        <div class="form-group row mt-4">
            <div class="col-3 offset-4">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <div class="col-3">
                <a asp-page="Index" class="btn btn-success">Back</a>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
